name: TagRelease

on:
  # Triggers the workflow on push events but only for the main branch!
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Create tag automatic
        uses: butlerlogic/action-autotag@1.1.2
        with:
          root: ./
          tag_prefix: "v"
